networks:
  inception:
    driver: bridge

services:
  databases:
    networks:
      - inception
    build : srcs/requirements/mariadb
    restart : always # default port mariadb is 3306
    expose:
      - "3306"
  wordpress:
    build: srcs/requirements/wordpress
    restart : always
    volumes:
      - wordpressdata:/var/www/html
    networks:
      - inception
    depends_on:
      - databases
    environment:
      WORDPRESS_DB_HOST: databases
      WORDPRESS_DB_USER: rachid
      WORDPRESS_DB_PASSWORD: rachid
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_URL: http://localhost:8080
    expose:
      - "9000"
  nginx:
    depends_on:
      - wordpress
    build: srcs/requirements/nginx
    # container_name: nginxcontainer
    restart : always
    ports:
      - "8080:80"
    volumes:
      - wordpressdata:/var/www/html
    networks:
      - inception

volumes:
  wordpressdata: