networks:
  inception:
    driver: bridge

services:
  databases:
    networks:
      - inception
    build : srcs/requirements/mariadb
    # container_name: databasecontainer
    restart : always # default port mariadb is 3306
    # volumes:
      # where to store data
  wordpress:
    build: srcs/requirements/wordpress
    # container_name: wordpresscontainer
    # depends_on:
    #   databases:
    #     condition: service_healthy
    restart : always
    volumes:
      - wordpressdata:/var/www/html
    networks:
      - inception
    depends_on:
      - databases
    environment:
      WORDPRESS_DB_HOST: databases
      WORDPRESS_DB_USER: rachid
      WORDPRESS_DB_PASSWORD: rachid
      WORDPRESS_DB_NAME: wordpress
    # expose:
    #   - "9000"
  nginx:
    depends_on:
      - wordpress
    build: srcs/requirements/nginx
    # container_name: nginxcontainer
    restart : always
    ports:
      - "8080:80"
    volumes:
      - wordpressdata:/var/www/html
    networks:
      - inception

volumes:
  wordpressdata: